{% extends "base.html" %}
{% block title %} VA Library - Libros de coleccion
{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Categoría</th>
                <th>Titulo</th>
                <th>Autor</th>
            </tr>
            {% for libro in lista %}
            <tr>
                <td>{{ libro['id_categoria'] }}</td>
                <td>{{ dcat[libro.id_categoria] }}</td>
                <td>{{ libro['titulo'] }}</td>
                <td>{{ libro['autor']  }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endblock %}