<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex Libris</title>
</head>
<body>
    <div>
        <div><img src="static/images/logo.png" height="75"></div>
    </div>
    <div>
        <table>
            <tr>
                <th>Autor</th>
                <th>Titulo</th>
                <th>Categoría</th>
            </tr>
            {% for libro in lista %}
            <tr>
                <td>{{ libro['autor']  }}</td>
                <td>{{ libro['titulo'] }}</td>
                <td>{{ libro['id_categoria'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>